
/**
* app.css
*/

.expressionHelpButton {
	color: #777777;
}
.expressionHelpButton:hover {
	color: #333333;
}
footer {
	background: #333;
	color: #fff;
	padding-top: 20px;
}
footer blockquote {
	text-align: justify;
	border-left: 5px solid #555555;
}.flag {
	width: 15px;
	vertical-align: baseline;
}
@media (max-width: 767px) {
	.languageSelector .hidden-xs {
		display: inline ! important;
	}
}
.navbar {
	border-radius: 0px;
	border-bottom: none;
}

.logo {
	width: 80px;
	margin-top: -7px;
	margin-left: -5px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	/* make nice color */
	background-color: #ac4796;
	color: #ffffff;
	
	/* make nice font */
	font-weight: 700;
	
	/* make pill-like shape */
	border-radius: 5px;
	border: 1px solid #eeeedf;
}

@media (min-width: 768px) {
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
		
		/* make tab-like shape */
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom: none;
	}
	
}
	
/* widths for navbar elements */
@media (min-width: 768px) {
	.pageTabs {	min-width: 300px }
	.expressionBar > .form-group > input  { width: 500px }
}
@media (min-width: 982px) { 
	.pageTabs {	min-width: 300px }
	.expressionBar > .form-group > input { width: 288px }
}
@media (min-width: 1100px) { 
	.pageTabs {	min-width: 300px }
	.expressionBar > .form-group > input { width: 400px }
}
@media (min-width: 1200px) { 
	.pageTabs {	min-width: 300px }
	.expressionBar > .form-group > input  { width: 500px }
}table > tbody > tr > td, 
table > tbody > tr > th {
	background-color: #ffffff;
}

.popover-title {
	color: white;
}

body {
	font-family: sans-serif;
}

.inline {
	display: inline-block;
}.deleted {
	text-decoration: line-through;
}
.table > tbody > tr > td > .btn {
	visibility: hidden;
}
.table > tbody > tr:hover > td > .btn {
	visibility: visible;
}

.table > tfoot > tr.newTransaction > td {
  background-color: #eeeeee;
}

/* .income = .success, .expense = .warning, .income.expense = .info */ 
.table > thead > tr > td.income,
.table > tbody > tr > td.income,
.table > tfoot > tr > td.income,
.table > thead > tr > th.income,
.table > tbody > tr > th.income,
.table > tfoot > tr > th.income,
.table > thead > tr.income > td,
.table > tbody > tr.income > td,
.table > tfoot > tr.income > td,
.table > thead > tr.income > th,
.table > tbody > tr.income > th,
.table > tfoot > tr.income > th {
  background-color: #dff0d8;
}
.table-striped > thead > tr > td.income:nth-child(odd),
.table-striped > tbody > tr > td.income:nth-child(odd),
.table-striped > tfoot > tr > td.income:nth-child(odd),
.table-striped > thead > tr > th.income:nth-child(odd),
.table-striped > tbody > tr > th.income:nth-child(odd),
.table-striped > tfoot > tr > th.income:nth-child(odd),
.table-striped > thead > tr.income:nth-child(odd) > td,
.table-striped > tbody > tr.income:nth-child(odd) > td,
.table-striped > tfoot > tr.income:nth-child(odd) > td,
.table-striped > thead > tr.income:nth-child(odd) > th,
.table-striped > tbody > tr.income:nth-child(odd) > th,
.table-striped > tfoot > tr.income:nth-child(odd) > th {
  background-color: #dbeed3;
}


.table-hover > tbody > tr > td.income:hover,
.table-hover > tbody > tr > th.income:hover,
.table-hover > tbody > tr.income:hover > td,
.table-hover > tbody > tr.income:hover > th, 
.table-hover > tbody > tr > td.income.active,
.table-hover > tbody > tr > th.income.active,
.table-hover > tbody > tr.income.active > td,
.table-hover > tbody > tr.income.active > th {
  background-color: #d0e9c6;
}

.table > thead > tr > td.income.expense,
.table > tbody > tr > td.income.expense,
.table > tfoot > tr > td.income.expense,
.table > thead > tr > th.income.expense,
.table > tbody > tr > th.income.expense,
.table > tfoot > tr > th.income.expense,
.table > thead > tr.income.expense > td,
.table > tbody > tr.income.expense > td,
.table > tfoot > tr.income.expense > td,
.table > thead > tr.income.expense > th,
.table > tbody > tr.income.expense > th,
.table > tfoot > tr.income.expense > th {
  background-color: #d9edf7;
}

.table-hover > tbody > tr > td.income.expense:hover,
.table-hover > tbody > tr > th.income.expense:hover,
.table-hover > tbody > tr.income.expense:hover > td,
.table-hover > tbody > tr.income.expense:hover > th,
.table-hover > tbody > tr > td.income.expense.active,
.table-hover > tbody > tr > th.income.expense.active,
.table-hover > tbody > tr.income.expense.active > td,
.table-hover > tbody > tr.income.expense.active > th  {
  background-color: #c4e3f3;
}
.table > thead > tr > td.expense,
.table > tbody > tr > td.expense,
.table > tfoot > tr > td.expense,
.table > thead > tr > th.expense,
.table > tbody > tr > th.expense,
.table > tfoot > tr > th.expense,
.table > thead > tr.expense > td,
.table > tbody > tr.expense > td,
.table > tfoot > tr.expense > td,
.table > thead > tr.expense > th,
.table > tbody > tr.expense > th,
.table > tfoot > tr.expense > th {
  background-color: #fcf8e3;
}
.table-striped > thead > tr > td.expense:nth-child(odd),
.table-striped > tbody > tr > td.expense:nth-child(odd),
.table-striped > tfoot > tr > td.expense:nth-child(odd),
.table-striped > thead > tr > th.expense:nth-child(odd),
.table-striped > tbody > tr > th.expense:nth-child(odd),
.table-striped > tfoot > tr > th.expense:nth-child(odd),
.table-striped > thead > tr.expense:nth-child(odd) > td,
.table-striped > tbody > tr.expense:nth-child(odd) > td,
.table-striped > tfoot > tr.expense:nth-child(odd) > td,
.table-striped > thead > tr.expense:nth-child(odd) > th,
.table-striped > tbody > tr.expense:nth-child(odd) > th,
.table-striped > tfoot > tr.expense:nth-child(odd) > th {
  background-color: #FCF7DD;
}
.table-hover > tbody > tr > td.expense:hover,
.table-hover > tbody > tr > th.expense:hover,
.table-hover > tbody > tr.expense:hover > td,
.table-hover > tbody > tr.expense:hover > th,
.table-hover > tbody > tr > td.expense.active,
.table-hover > tbody > tr > th.expense.active,
.table-hover > tbody > tr.expense.active > td,
.table-hover > tbody > tr.expense.active > th{
  background-color: #faf2cc;
}

/* hidden inputs in the table */
.table > tbody > tr > td .form-control {
	background-color: rgba(255,255,255,0);
	border-color: rgba(204,204,204,0);
	box-shadow: none;
}
.table > tbody > tr > td .form-control:hover {
	border-color: rgba(204,204,204,1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.table > tbody > tr > td .form-control:focus {
	background-color: rgba(255,255,255,1);
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
