
/**
* app.css
*/

@media (min-width: 768px) {
	.expressionBar > .form-group > input {
		width: 320px;
	}
}.flag {
	width: 15px;
	vertical-align: baseline;
}
@media (max-width: 767px) {
	.languageSelector .hidden-xs {
		display: inline ! important;
	}
}
.navbar {
	border-radius: 0px;
	border-bottom: none;
}

.logo {
	width: 80px;
	margin-top: -7px;
	margin-left: -5px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	/* make nice color */
	background-color: #ac4796;
	color: #ffffff;
	
	/* make nice font */
	font-weight: 700;
	
	/* make pill-like shape */
	border-radius: 5px;
	border: 1px solid #eeeedf;
}

@media (min-width: 768px) {
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
		
		/* make tab-like shape */
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom: none;
	}
}table > tbody > tr > td, 
table > tbody > tr > th {
	background-color: #ffffff;
}

.popover-title {
	color: white;
}

body {
	font-family: sans-serif;
}

.inline {
	display: inline-block;
}