  <td><input class="form-control" type="date" ng-model="value.date"></td>
  <td><input class="form-control" ng-model="value.from"></td>
  <td><input class="form-control" ng-model="value.to"></td>
  <td class="amountCell">
	  <custom-input class="form-control amountInput">
		  <span ng-if="!currencies[value.currency].postfix">{{currencies[value.currency].sign}}</span>
		  <input ng-model="value.sum">
		  <span ng-if="currencies[value.currency].postfix">{{currencies[value.currency].sign}}</span>
	  </custom-input>
	  <small class="convertedValue" ng-if="!sameCurrency(value)">
		  ({{converted(value)}})
	  </small>
  </td>
  <td><input class="form-control" ng-model="value.text"></td>
  <td><input class="form-control" ng-model="value.categories"></td>
  <td ng-transclude></td>
