
<li ng-show="0" class="dropdown">
	<a href="" class="dropdown-toggle" data-toggle="dropdown">
		<span class="glyphicon glyphicon-user"></span>
		<span translate>Log in with</span>
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li><a href="" ng-click="login('facebook')">Facebook</a></li>
		<li><a href="" ng-click="login('persona' )">Persona </a></li>
	</ul>
</li>

<li ng-show="!auth.user">
	<a href="" ng-click="login('persona')">
		<span class="glyphicon glyphicon-user"></span>
		<span translate>Log in</span>
	</a>
</li>

<li ng-show="auth.user" class="dropdown">
	<a href="" class="dropdown-toggle" data-toggle="dropdown">
		<span class="glyphicon glyphicon-user"></span>
		{{auth.user.name||auth.user.email}}
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li class="disabled"><a href="" translate>Nothing special here yet :)</a></li>
		<li class="divider"></li>
		<li><a href="" ng-click="logout()" translate>Log out</a></li>
	</ul>
</li>
