<h1>{{t('Transactions')}}</h1>
<table class="table table-striped table-hover ">
	<thead>
		<tr>
			<th colspan="8">{{t('Add a new transaction')}}</th>
		</tr>
		<tr transaction value="newTransaction" class="newTransaction">
			<td class="actions">
				<button class="btn btn-xs success" href="">
					<span class="glyphicon glyphicon-ok" ng-click="addTransaction()"></span>
				</button>

			</td>
		</tr>
		<tr>
			<th>{{t('Date')}}</th>
			<th>{{t('From')}}</th>
			<th>{{t('To')}}</th>
			<th>{{t('Sum')}}</th>
			<th>{{t('Currency')}}</th>
			<th>{{t('Comment')}}</th>
			<th>{{t('Categories')}}</th>
		</tr>
	</thead>
	<tbody infinite-scroll="loadMore()" infinite-scroll-distance="0.3">
		<tr transaction 
			ng-repeat="(id,tr) in transactions"
			value="tr"
			on-focus="selectTransaction(tr)"
		>
			<td class="actions">
				<button class="btn btn-xs danger" ng-show="!tr.deleted">
					<span class="glyphicon glyphicon-remove" ng-click="deleteTransaction(tr)"></span>
				</button>
				<button class="btn btn-xs success" ng-show="tr.deleted">
					<span class="glyphicon glyphicon-ok" ng-click="restoreTransaction(tr)"></span>
				</button>
			</td>
		</tr>
		<tr class="loadingTransactions" ng-if="transactions.length < allTransactions.length">
			<td colspan="8">
				…
			</td>
		</tr>
	</tbody>
</table>
