<import-export-buttons></import-export-buttons>
<h1 translate>Transactions</h1>
<div class="transactions">
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th colspan="8">{{t('Add a new transaction')}}</th>
		</tr>
		<tr transaction value="newTransaction" class="newTransaction">
			<td class="actions">
				<button class="btn btn-xs btn-success" href=""
					ng-click="addTransaction()"
					><i class="fa fa-plus"></i></button>

			</td>
		</tr>
		<tr>
			<th>{{t('Date')}}</th>
			<th>{{t('From')}}</th>
			<th>{{t('To')}}</th>
			<th>{{t('Sum')}}</th>
			<th>{{t('Currency')}}</th>
			<th>{{t('Comment')}}</th>
			<th>{{t('Categories')}}</th>
		</tr>
	</thead>
	<tbody>
		<tr transaction 
			ng-repeat="(id,tr) in transactions"
			value="tr"
			on-focus="selectTransaction(tr)"
			class="transaction"
		>
			<td class="actions">
				<button class="btn btn-xs btn-warning" ng-show="!tr.deleted"  
					ng-click="deleteTransaction(tr)">
					<i class="fa fa-trash-o"></i>
				</button>
				<button class="btn btn-xs btn-warning" ng-show="tr.deleted"
					ng-click="restoreTransaction(tr)">
					<i class="fa fa-undo"></i>
				</button>
			</td>
		</tr>
		<tr class="loadingTransactions" ng-if="transactions.length < allTransactions.length">
			<td colspan="8">
				…
			</td>
		</tr>
	</tbody>
</table>
</div>
