<div class="panel">
	<div class="panel-body">

		<div ng-if="lang=='en'">
			<h1>Welcome!</h1>

			<p>Great that you try out this personal finances program! Some
				tips to get started:</p>

			<ul>
				<li>You can add a new transaction with the <span
					class="glyphicon glyphicon-ok"></span> button.
				</li>
				<li>You don't have to fill in any of the fields.</li>
				<li>You should put `me´ in the `From´ or `To´ field to mark an
					expense or income. The row will be colored accordingly.</li>
				<li>If you gave or received a loan, put `(loan)´ after the name
					of the other person. E.g. From: `me´, To: `Bob (loan)´</li>
				<li>You can delete a line with the <span
					class="glyphicon glyphicon-remove"></span> button. It will not
					delete it permanently, you can recover it afterwards.
				</li>
			</ul>

		</div>

		<div ng-if="lang=='hu'">
			<h1>Helló!</h1>

			<p>Örülök, hogy kipróbálod a Mennyi a Zannyi programot! Néhány
				javaslat:</p>

			<ul>
				<li>A pipa (<span class="glyphicon glyphicon-ok"></span>)
					gombbal tudsz egy új tranzakciót felvenni.
				</li>
				<li>Egyik mezőt sem kötelező kitölteni.</li>
				<li>A „Kitől” vagy „Kinek” mezőkbe írj „én"-t egy kiadás vagy
					egy bevétel jelöléséhez. A sor ennek megfelelően lesz színezve.</li>
				<li>Ha kölcsönt kapsz vagy kérsz, írd a másik ember neve mellé,
					hogy „(kölcsön)”. Pl. Kitől: „én”, Kinek: „János (kölcsön)”</li>
				<li>Törölni egy sort az <span
					class="glyphicon glyphicon-remove"></span> gombbal tudsz, de nem
					véglegesen. Utána vissza tudod állítani.
				</li>
			</ul>

		</div>

	</div>

</div>