/* .income = .success, .expense = .warning, .income.expense = .info */ 
.table > thead > tr > td.income,
.table > tbody > tr > td.income,
.table > tfoot > tr > td.income,
.table > thead > tr > th.income,
.table > tbody > tr > th.income,
.table > tfoot > tr > th.income,
.table > thead > tr.income > td,
.table > tbody > tr.income > td,
.table > tfoot > tr.income > td,
.table > thead > tr.income > th,
.table > tbody > tr.income > th,
.table > tfoot > tr.income > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.income:hover,
.table-hover > tbody > tr > th.income:hover,
.table-hover > tbody > tr.income:hover > td,
.table-hover > tbody > tr.income:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.income.expense,
.table > tbody > tr > td.income.expense,
.table > tfoot > tr > td.income.expense,
.table > thead > tr > th.income.expense,
.table > tbody > tr > th.income.expense,
.table > tfoot > tr > th.income.expense,
.table > thead > tr.income.expense > td,
.table > tbody > tr.income.expense > td,
.table > tfoot > tr.income.expense > td,
.table > thead > tr.income.expense > th,
.table > tbody > tr.income.expense > th,
.table > tfoot > tr.income.expense > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.income.expense:hover,
.table-hover > tbody > tr > th.income.expense:hover,
.table-hover > tbody > tr.income.expense:hover > td,
.table-hover > tbody > tr.income.expense:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.expense,
.table > tbody > tr > td.expense,
.table > tfoot > tr > td.expense,
.table > thead > tr > th.expense,
.table > tbody > tr > th.expense,
.table > tfoot > tr > th.expense,
.table > thead > tr.expense > td,
.table > tbody > tr.expense > td,
.table > tfoot > tr.expense > td,
.table > thead > tr.expense > th,
.table > tbody > tr.expense > th,
.table > tfoot > tr.expense > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.expense:hover,
.table-hover > tbody > tr > th.expense:hover,
.table-hover > tbody > tr.expense:hover > td,
.table-hover > tbody > tr.expense:hover > th {
  background-color: #faf2cc;
}