  <td><input class="form-control" ng-blur="commit()" type="date" ng-model="local.date"></td>
  <td><input class="form-control" ng-blur="commit()" ng-model="local.from"></td>
  <td><input class="form-control" ng-blur="commit()" ng-model="local.to"></td>
  <td><input class="form-control" ng-blur="commit()" ng-model="local.sum"></td>
  <td><input class="form-control" ng-blur="commit()" ng-model="local.currency"></td>
  <td><input class="form-control" ng-blur="commit()" ng-model="local.text"></td>
  <td><input class="form-control" ng-blur="commit()" ng-model="local.categories"></td>
  <td ng-transclude></td>
