  <td><input class="form-control" on-enter="moveRight" type="date" ng-model="value.date"></td>
  <td><input class="form-control" on-enter="moveRight" ng-model="value.from"></td>
  <td><input class="form-control" on-enter="moveRight" ng-model="value.to"></td>
  <td><input class="form-control" on-enter="moveRight" ng-model="value.sum"></td>
  <td><input class="form-control" on-enter="moveRight" ng-model="value.currency"></td>
  <td><input class="form-control" on-enter="moveRight" ng-model="value.text"></td>
  <td><input class="form-control" on-enter="newline" ng-model="value.categories"></td>
