  <td><input class="form-control" on-enter="moveRight" type="date" value="{{value.date}}"></td>
  <td><input class="form-control" on-enter="moveRight" value="{{value.from}}"></td>
  <td><input class="form-control" on-enter="moveRight" value="{{value.to}}"></td>
  <td><input class="form-control" on-enter="moveRight" value="{{value.sum}}"></td>
  <td><input class="form-control" on-enter="moveRight" value="{{value.currency}}"></td>
  <td><input class="form-control" on-enter="moveRight" value="{{value.text}}"></td>
  <td><input class="form-control" on-enter="newline" value="{{value.categories}}"></td>
