
<form class="navbar-form navbar-left expressionBar">
	<div class="form-group">
        <div class="bootstrap-tagsinput">
            <span ng-repeat="t in tags" class="tag badge badge-success">
                <a class="close" ng-click="removeTag(t)"><sup>×</sup></a>
                <span ng-bind="t"></span>
            </span>
            <input class="tagsinput" size="4" type="text" ng-model="newTag" typeahead="s for s in typeahead($viewValue)" typeahead-on-select="addTag()">
        </div>
		
		<a href="" class="expressionHelpButton"><small>
			<span class="inline"><span class="hidden-xs">
				<span class="glyphicon glyphicon-question-sign"></span>
			</span></span>
			<span class="visible-xs">
				<span class="glyphicon glyphicon-question-sign"></span>
				{{t("Query help")}}
			</span>
			</small>
		</a>
	</div>
</form>

<ul class="nav navbar-nav navbar-left">
	<li><a href="">
		
	</a></li>
</ul>
