
<form class="navbar-form navbar-left expressionBar" ng-click="click($event)">
	<div class="form-group">
        <div class="bootstrap-tagsinput">
            <span ng-repeat="t in tags" class="tag badge badge-success" style="background-color: {{getColor(t)}}" ng-class="getTagClass(t)">
                <a class="close" ng-click="removeTag(t)">×</a>
                <span ng-bind="t"></span>
            </span>
			<input class="tagsinput" size="8" type="text" ng-model="newTag" typeahead="s for s in typeahead($viewValue)" typeahead-on-select="addTag()" ng-keydown="keydown($event)">
        </div>
		
	</div>
</form>

<ul class="nav navbar-nav navbar-left">
	<li><a href="">
		
	</a></li>
</ul>
