{{#value}}
<tr>
  <td><input class="form-control" on-enter="moveRight" type="date" value="{{.date}}"></td>
  <td><input class="form-control" on-enter="moveRight" value="{{.from}}"></td>
  <td><input class="form-control" on-enter="moveRight" value="{{.to}}"></td>
  <td><input class="form-control" on-enter="moveRight" value="{{amt(.sum,.currency)}}"></td>
  <td><input class="form-control" on-enter="moveRight" value="{{.text}}"></td>
  <td><input class="form-control" on-enter="newline" value="{{.categories}}"></td>
</tr>
{{/value}}