<section ng-if="false">
	<h1>Import</h1>

	<p>
		To import data from another website (like a netbank), you can do
		this (well, not guaranteed to work with <em>any</em> website...):
	</p>
	
	<ol>
		<li>Add this link to your bookmarks: <span ng-bind-html="bookmarklet"></span></li>
		<li>Go to your netbank site, open your list of transactions. Then click on the bookmark and follow the instructions.
		<li>Copy the exported code here:
		<p>
			<textarea class="form-control" ng-model="$parent.csv" rows="6"></textarea>
		</p>
		<li>Press <button class="btn btn-primary" ng-click="import()">Import</button>.
	</ol>
</section>

<section>
<h1>{{t('Export')}}</h1>
<p><button class="btn btn-primary" ng-click="export()">Export transactions</button></p>
</section>
